@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

html,
body {
  font-family: "Lato", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
}
svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  min-width: 300px;
  margin: 40px auto;
  background: #4a4a4a;
  border-radius: 10px;
  padding: 20px;
  color: #7e7e7e;
  box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.4);
}
.results {
  border-bottom: 1px solid currentColor;
  text-align: right;
  padding: 80px 5px 0 0;
  min-height: 200px;
}
.results #result {
  font-size: 50px;
  color: white;
  margin: 10px 0;
}
.results #calculation {
  letter-spacing: 1px;
}
.controls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(30px, auto);
  padding: 30px 5px 15px;
  justify-items: center;
}
.controls span {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.controls span:hover {
  transform: translateY(-3px);
}
.controls span:nth-child(4n) {
  color: #e16667;
}
.controls span:nth-child(n + 1):nth-child(-n + 3) {
  color: #c3c3c3;
}
.controls span:last-child {
  background-color: #e16667;
  color: white;
  box-shadow: 5px 5px 20px rgba(197, 36, 37, 0.34);
}
.controls span:active {
  background: rgba(255, 102, 103, 0.6);
}
